# Build folders
build*/
cmake-build*/
install/
out/
.cache/

# IDE folders
.vscode/
.vs/
.idea/

# IDE files
Folder.DotSettings.user

# CMake cache
CMakeSettings.json

# Blend bak files
*.blend*
!*.blend

# Additional folders
temp/

# Hugo
.hugo_build.lock
docs/resources/_gen/
docs/public/
docs/themes/hugo-book/

# Logs
*.log

# Krita
*.kra~
*-autosave.kra
*.png~

# Python
__pycache__

# Generated assets
*.ktx2
*.spirv

# MacOS files
.DS_Store

# Data folder
!data/*

