[submodule "libs/Nuklear"]
	path = libs/Nuklear
	url = https://github.com/Immediate-Mode-UI/Nuklear.git
[submodule "libs/wren"]
	path = libs/wren
	url = https://github.com/wren-lang/wren.git
[submodule "libs/wrenbind17"]
	path = libs/wrenbind17
	url = https://github.com/matusnovak/wrenbind17.git
[submodule "libs/nanovg"]
	path = libs/nanovg
	url = https://github.com/memononen/nanovg.git
[submodule "docs/themes/hugo-book"]
	path = docs/themes/hugo-book
	url = https://github.com/alex-shpak/hugo-book
[submodule "libs/voronoi"]
	path = libs/voronoi
	url = https://github.com/JCash/voronoi
[submodule "libs/V-EZ"]
	path = libs/V-EZ
	url = https://github.com/GPUOpen-LibrariesAndSDKs/V-EZ.git
